{% schema %}
{
    "name": "Home Showcase",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "HELPING YOU CREATE A HOME YOU WANT TO RETURN TO."
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "帰りたくなる家づくり"
        },
        {
            "type": "image_picker",
            "id": "left_image",
            "label": "Left Image"
        },
        {
            "type": "image_picker",
            "id": "right_image",
            "label": "Right Image"
        }
        ],
        "presets": [
            {
                "name": "Home Showcase",
                "category": "Custom"
            }
        ]
}
{% endschema %}

<div>
    <div>
        <h2>{{ section.sett }}</h2>
    </div>
</div>